* {
  padding: 5;
  margin: 5;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: rgb(119, 253, 2);
}

.wrapper {
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 1);
    overflow: hidden;
}

.wrapper h1 {
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Orbitron', sans-serif;
    background: #404040;
    font-size: 30px;
    color:white;
}

